<div class="row">
<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<p id="nombre">Santiago Leandro</p>
<p>Full Stack Developer Jr</p>

</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
    <span>  
        <h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit hic fugit iure. Dolor, quis necessitatibus facere odio delectus fugiat veniam distinctio blanditiis eveniet, accusantium modi iure natus minus consequatur voluptatibus!
            </p>
        </h1>
    </span>
</div>
</div>