<div class="row">

    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio1</h1>-<h3>(years)</h3>
            </li>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum dignissimos ipsum sequi blanditiis, voluptas deserunt vel beatae expedita, dolore qui ut debitis quidem animi asperiores aliquam repellat veniam aut!</p> 
        </ul>
        <ul>
            <li>
                <h1>Estudio2</h1>-<h3>(years)</h3>
            </li>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum dignissimos ipsum sequi blanditiis, voluptas deserunt vel beatae expedita, dolore qui ut debitis quidem animi asperiores aliquam repellat veniam aut!</p> 
        
        </ul>
        <ul>
            <li>
                <h1>Estudio3</h1>-<h3>(years)</h3>
            </li>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum dignissimos ipsum sequi blanditiis, voluptas deserunt vel beatae expedita, dolore qui ut debitis quidem animi asperiores aliquam repellat veniam aut!</p> 
        </ul>
    
        
        
    </div>
</div>
